[Desktop Entry]
GenericName=Screenshot Capture Utility
GenericName[bg]=Инструмент за заснемане на екрана
GenericName[ca]=Utilitat de captura de pantalla
GenericName[cs]=Nástroj na snímání obrazovky
GenericName[de]=Dienstprogramm für Bildschirmfotos
GenericName[en_GB]=Screenshot Capture Utility
GenericName[es]=Utilidad de capturas de pantalla
GenericName[fi]=Kuvankaappausohjelma
GenericName[gl]=Utilidade para facer capturas de pantalla
GenericName[nl]=Hulpmiddel voor het vangen van een schermafdruk
GenericName[pl]=Narzędzie do przechwytywania ekranu
GenericName[pt]=Utilitário de Captura de Imagens
GenericName[pt_BR]=Utilitário de captura de tela
GenericName[ro]=Utilitar de capturare a ecranului
GenericName[sk]=Nástroj na snímanie obrazovky
GenericName[sv]=Verktyg för att ta skärmbilder
GenericName[uk]=Програма для створення знімків екрана
GenericName[x-test]=xxScreenshot Capture Utilityxx
GenericName[zh_CN]=屏幕截图工具
Name=Spectacle
Name[ca]=Spectacle
Name[de]=Spectacle
Name[en_GB]=Spectacle
Name[es]=Spectacle
Name[fi]=Spectacle
Name[nl]=Spectacle
Name[pl]=Spektakl
Name[pt]=Spectacle
Name[pt_BR]=Spectacle
Name[sk]=Spectacle
Name[sv]=Spectacle
Name[uk]=Spectacle
Name[x-test]=xxSpectaclexx
Categories=Qt;KDE;Utility;
MimeType=
Exec=spectacle
Icon=spectacle
Type=Application
Terminal=false
StartupNotify=false
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.freedesktop.Screenshot
