[Desktop Entry]
GenericName=Screenshot Capture Utility
GenericName[bg]=Инструмент за заснемане на екрана
GenericName[ca]=Utilitat de captura de pantalla
GenericName[cs]=Nástroj na snímání obrazovky
GenericName[de]=Dienstprogramm für Bildschirmfotos
GenericName[en_GB]=Screenshot Capture Utility
GenericName[es]=Utilidad de capturas de pantalla
GenericName[fi]=Kuvankaappausohjelma
GenericName[gl]=Utilidade para facer capturas de pantalla
GenericName[nl]=Hulpmiddel voor het vangen van een schermafdruk
GenericName[pl]=Narzędzie do przechwytywania ekranu
GenericName[pt]=Utilitário de Captura de Imagens
GenericName[pt_BR]=Utilitário de captura de tela
GenericName[ro]=Utilitar de capturare a ecranului
GenericName[sk]=Nástroj na snímanie obrazovky
GenericName[sv]=Verktyg för att ta skärmbilder
GenericName[uk]=Програма для створення знімків екрана
GenericName[x-test]=xxScreenshot Capture Utilityxx
GenericName[zh_CN]=屏幕截图工具
Name=Kapture
Name[ca]=Kapture
Name[es]=Kapture
Name[fi]=Kapture
Name[nl]=Kapture
Name[pl]=Kapture
Name[pt]=Kapture
Name[pt_BR]=Kapture
Name[sv]=Kapture
Name[uk]=Kapture
Name[x-test]=xxKapturexx
Categories=Qt;KDE;Utility;
MimeType=
Exec=kapture
Icon=ksnapshot
Type=Application
Terminal=false
StartupNotify=false
