[Desktop Entry]
GenericName=Screenshot Capture Utility
GenericName[ca]=Utilitat de captura de pantalla
GenericName[cs]=Nástroj na snímání obrazovky
GenericName[de]=Dienstprogramm für Bildschirmfotos
GenericName[fi]=Kuvankaappausohjelma
GenericName[gl]=Utilidade para facer capturas de pantalla
GenericName[nl]=Hulpmiddel voor het vangen van een schermafdruk
GenericName[pl]=Narzędzie do przechwytywania ekranu
GenericName[pt]=Utilitário de Captura de Imagens
GenericName[pt_BR]=Utilitário de captura de tela
GenericName[ro]=Utilitar de capturare a ecranului
GenericName[sk]=Nástroj na snímanie obrazovky
GenericName[sv]=Skärmdumpsverktyg
GenericName[uk]=Програма для створення знімків екрана
GenericName[x-test]=xxScreenshot Capture Utilityxx
GenericName[zh_CN]=屏幕截图工具
Name=KScreenGenie
Name[ca]=KScreenGenie
Name[cs]=KScreenGenie
Name[de]=KScreenGenie
Name[fi]=KScreenGenie
Name[gl]=KScreenGenie
Name[nl]=KScreenGenie
Name[pl]=KEkranowyGeniusz
Name[pt]=KScreenGenie
Name[pt_BR]=KScreenGenie
Name[ro]=KScreenGenie
Name[sk]=KScreenGenie
Name[sv]=Kscreengenie
Name[uk]=KScreenGenie
Name[x-test]=xxKScreenGeniexx
Name[zh_CN]=KScreenGenie
Categories=Qt;KDE;Utility;
MimeType=
Exec=kscreengenie
Icon=ksnapshot
Type=Application
Terminal=false
StartupNotify=false


