[Desktop Entry]
GenericName=Screenshot Capture Utility
Name=KScreenGenie
Categories=Qt;KDE;Utility;
MimeType=
Exec=kscreengenie
Icon=ksnapshot
Type=Application
Terminal=false
StartupNotify=false


