[Desktop Entry]
GenericName=Screenshot Capture Utility
GenericName[nl]=Hulpmiddel voor het vangen van een schermafdruk
GenericName[pt]=Utilitário de Captura de Imagens
GenericName[pt_BR]=Utilitário de captura de tela
GenericName[sv]=Skärmdumpsverktyg
GenericName[uk]=Програма для створення знімків екрана
GenericName[x-test]=xxScreenshot Capture Utilityxx
Name=KScreenGenie
Name[nl]=KScreenGenie
Name[pt]=KScreenGenie
Name[pt_BR]=KScreenGenie
Name[sv]=Kscreengenie
Name[uk]=KScreenGenie
Name[x-test]=xxKScreenGeniexx
Categories=Qt;KDE;Utility;
MimeType=
Exec=kscreengenie
Icon=kscreengenie
Type=Application
Terminal=false
StartupNotify=false


