[Desktop Entry]
GenericName=Screenshot Capture Utility
GenericName[ar]=أداة لأخذ اللقطات
GenericName[ast]=Utilidá de captura de pantalla
GenericName[bg]=Инструмент за заснемане на екрана
GenericName[ca]=Utilitat per prendre captures de pantalla
GenericName[ca@valencia]=Utilitat per prendre captures de pantalla
GenericName[cs]=Nástroj na snímání obrazovky
GenericName[da]=Værktøj til skærmbilleder
GenericName[de]=Dienstprogramm für Bildschirmfotos
GenericName[el]=Εργαλείο λήψης στιγμιοτύπων οθόνης
GenericName[en_GB]=Screenshot Capture Utility
GenericName[es]=Utilidad de capturas de pantalla
GenericName[et]=Ekraani pildistamise tööriist
GenericName[fi]=Kuvankaappausohjelma
GenericName[gl]=Utilidade para facer capturas de pantalla
GenericName[it]=Accessorio per catturare schermate
GenericName[ko]=화면 캡처 유틸리티
GenericName[lt]=KDE ekranvaizdžių paveikslavimas
GenericName[nl]=Hulpmiddel voor het vangen van een schermafdruk
GenericName[nn]=Verktøy for å lagra skjermbilete
GenericName[pl]=Narzędzie do przechwytywania ekranu
GenericName[pt]=Utilitário de Captura de Imagens
GenericName[pt_BR]=Utilitário de captura de tela
GenericName[ro]=Utilitar de capturare a ecranului
GenericName[ru]=Создание снимков экрана
GenericName[sk]=Nástroj na snímanie obrazovky
GenericName[sl]=Pripomoček za zajem zaslona
GenericName[sv]=Verktyg för att ta skärmbilder
GenericName[uk]=Програма для створення знімків екрана
GenericName[x-test]=xxScreenshot Capture Utilityxx
GenericName[zh_CN]=屏幕截图工具
Name=Spectacle
Name[ast]=Spectacle
Name[ca]=Spectacle
Name[ca@valencia]=Spectacle
Name[cs]=Spectacle
Name[da]=Spectacle
Name[de]=Spectacle
Name[el]=Spectacle
Name[en_GB]=Spectacle
Name[es]=Spectacle
Name[et]=Spectacle
Name[fi]=Spectacle
Name[gl]=Spectacle
Name[it]=Spectacle
Name[ko]=Spectacle
Name[lt]=Spectacle
Name[nl]=Spectacle
Name[nn]=Spectacle
Name[pl]=Spectacle
Name[pt]=Spectacle
Name[pt_BR]=Spectacle
Name[ru]=Spectacle
Name[sk]=Spectacle
Name[sl]=Spectacle
Name[sv]=Spectacle
Name[uk]=Spectacle
Name[x-test]=xxSpectaclexx
Name[zh_CN]=Spectacle
Categories=Qt;KDE;Utility;
Exec=spectacle
Icon=spectacle
Type=Application
Terminal=false
StartupNotify=false
Actions=FullScreenScreenShot;CurrentMonitorScreenShot;ActiveWindowScreenShot;RectangularRegionScreenShot;
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.Spectacle

[Desktop Action FullScreenScreenShot]
Name=Capture Entire Desktop
Name[ar]=التقط سطح المكتب بالكامل
Name[ast]=Capturar tol escritoriu
Name[ca]=Captura l'escriptori sencer
Name[ca@valencia]=Captura l'escriptori sencer
Name[cs]=Zachytit celou plochu
Name[da]=Indfang hele skrivebordet
Name[de]=Die gesamte Arbeitsfläche aufnehmen
Name[el]=Λήψη όλης της επιφάνειας εργασίας
Name[en_GB]=Capture Entire Desktop
Name[es]=Capturar todo el escritorio
Name[et]=Kogu töölaua pildistamine
Name[fi]=Kaappaa koko työpöytä
Name[gl]=Capturar todo o escritorio
Name[it]=Cattura l'intero desktop
Name[ko]=전체 데스크톱 찍기
Name[lt]=Paveiksluoti visą darbalaukį
Name[nl]=Gehele bureaublad opnemen
Name[nn]=Ta bilete av heile skrivebordet
Name[pl]=Przechwyć cały pulpit
Name[pt]=Capturar Todo o Ecrã
Name[pt_BR]=Capturar toda a área de trabalho
Name[sk]=Zachytiť celú plochu
Name[sl]=Zajemi celotno namizje
Name[sv]=Ta en bild av hela skrivbordet
Name[uk]=Захопити зображення усієї стільниці
Name[x-test]=xxCapture Entire Desktopxx
Name[zh_CN]=捕获整个桌面
Exec=spectacle -f

[Desktop Action CurrentMonitorScreenShot]
Name=Capture Current Monitor
Name[ar]=التقط الشّاشة الحاليّة
Name[ast]=Capturar monitor actual
Name[ca]=Captura el monitor actual
Name[ca@valencia]=Captura el monitor actual
Name[cs]=Zachytit současný monitor
Name[da]=Indfang den aktuelle skærm
Name[de]=Den aktuellen Bildschirm aufnehmen
Name[el]=Λήψη της τρέχουσας οθόνης
Name[en_GB]=Capture Current Monitor
Name[es]=Capturar el monitor actual
Name[et]=Aktiivse monitori pildistamine
Name[fi]=Kaappaa nykyinen näyttö
Name[gl]=Capturar o monitor actual
Name[it]=Cattura il monitor attuale
Name[ko]=현재 모니터 찍기
Name[lt]=Paveiksluoti šio monitoriaus vaizdą
Name[nl]=Huidige monitor opnemen
Name[nn]=Ta bilete av gjeldande skjerm
Name[pl]=Przechwyć bieżący monitor
Name[pt]=Capturar o Monitor Actual
Name[pt_BR]=Capturar do monitor atual
Name[sk]=Zachytiť aktuálny monitor
Name[sl]=Zajemi trenutni zaslon
Name[sv]=Ta en bild av aktuell bildskärm
Name[uk]=Захопити зображення на моніторі
Name[x-test]=xxCapture Current Monitorxx
Name[zh_CN]=捕获当前屏幕
Exec=spectacle -m

[Desktop Action ActiveWindowScreenShot]
Name=Capture Active Window
Name[ar]=التقط النّافذة النّشطة
Name[ast]=Capturar ventana actual
Name[ca]=Captura la finestra activa
Name[ca@valencia]=Captura la finestra activa
Name[cs]=Zachytit aktivní okno
Name[da]=Indfang det aktive vindue
Name[de]=Das aktive Fenster aufnehmen
Name[el]=Λήψη του ενεργού παραθύρου
Name[en_GB]=Capture Active Window
Name[es]=Capturar la ventana activa
Name[et]=Aktiivse akna pildistamine
Name[fi]=Kaappaa aktiivinen ikkuna
Name[gl]=Capturar a xanela activa
Name[it]=Cattura la finestra attiva
Name[ko]=활성 창 찍기
Name[lt]=Paveiksluoti veikiamąjį langą
Name[nl]=Actieve venster opnemen
Name[nn]=Ta bilete av aktivt vindauge
Name[pl]=Przechwyć aktywne okno
Name[pt]=Capturar a Janela Activa
Name[pt_BR]=Capturar a janela ativa
Name[sk]=Zachytiť aktuálne okno
Name[sl]=Zajemi dejavno okno
Name[sv]=Ta en bild av aktivt fönster
Name[uk]=Захопити зображення активного вікна
Name[x-test]=xxCapture Active Windowxx
Name[zh_CN]=捕获活动窗口
Exec=spectacle -a

[Desktop Action RectangularRegionScreenShot]
Name=Capture Rectangular Region
Name[ar]=التقط منطقة مستطيلة
Name[ast]=Capturar rexón rectangular
Name[ca]=Captura una regió rectangular
Name[ca@valencia]=Captura una regió rectangular
Name[cs]=Zachytit obdélníkový výběr na obrazovce
Name[da]=Indfang firkantet område
Name[de]=Einen rechteckigen Bereich aufnehmen
Name[el]=Λήψη ορθογώνιας περιοχής
Name[en_GB]=Capture Rectangular Region
Name[es]=Capturar una región rectangular
Name[et]=Ristkülikukujulise ala pildistamine
Name[fi]=Kaappaa suorakulmainen alue
Name[gl]=Capturar unha rexión rectangular
Name[it]=Cattura una regione rettangolare
Name[ko]=화면의 사각형 영역 찍기
Name[lt]=Paveiksluoti stačiakampę ekrano sritį
Name[nl]=Rechthoekig gebied opnemen
Name[nn]=Ta bilete av skjermutsnitt
Name[pl]=Przechwyć obszar prostokątny
Name[pt]=Capturar uma Região Rectangular
Name[pt_BR]=Capturar uma região retangular
Name[sk]=Zachytiť pravouhlú oblasť
Name[sl]=Zajemi pravokotno območje
Name[sv]=Ta en bild av ett rektangulärt område
Name[uk]=Захопити прямокутну область екрана
Name[x-test]=xxCapture Rectangular Regionxx
Name[zh_CN]=捕获矩形区域
Exec=spectacle -r
